# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Project Specific (Personal Data & Wallpapers)
Library/*
!Library/.gitkeep
Static Wallpaper/
Live Wallpaper/
wallpapers/*
!wallpapers/.gitkeep
thumbs/*
!thumbs/.gitkeep
config.json
*.bak

# Others
.vscode/
.idea/
.history/
requirements.txt
